<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCS98am4QZRjXqpF1HYQqcCSYfh45x_tBA</string>
	<key>GCM_SENDER_ID</key>
	<string>458226677669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.epitech</string>
	<key>PROJECT_ID</key>
	<string>flutter-74035</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-74035.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458226677669:ios:c39bb8c941b216cb11da4c</string>
</dict>
</plist>